<img src="" alt="" />
<div class="jumbotron">
  <div id="jumbotron_text">
    <h1>Tomorrow.</h1>
    <p>Life after bootcamp.</p>
    <a href="#search">Search for Bootcamp Alums</a>
  </div>
</div>
  <div id="search">
      <button type="button" class="close">×</button>
      <form class="search-form">
        <input name="search-term" type="search" placeholder="Name, company, bootcamp, or blank for all" />
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
  </div>

  <div class="alum-list">
    <table>
      <tr>
        <th>Name</th>
        <th>Bootcamp</th>
        <th>Company</th> 
        <th>Title</th>
        <th>City</th>
        <th>State</th>
        <th>LinkedIn</th>
      </tr>

      <%@alums.each do |alum|%>
        <tr>
          <td><%=alum.name%></td>
          <td><%=Bootcamp.find(alum.bootcamp_id).name%></td> 
          <td><a href=<%=alum.compurl%> target="_blank"><%=alum.company%></a></td>
          <td><%=alum.title%></td>
          <td><%=alum.city%></td>
          <td><%=alum.state%></td>
          <td><a href=<%=alum.linkurl%> target="_blank">LinkedIn</a></td>
        </tr>
      <%end%>

    </table>

  </div>
</div>

